<link rel="stylesheet" type="text/css" href="static/Chart.css">
{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Testing{% endblock %}</h1>
{% endblock %}

{% block content %}



<header>
    <div>
        <iframe src="{{url_for('rtu.autotestloop')}}" height="800" width="800"></iframe>

    </div>
</header>
{% endblock %}