
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content="5">
    <meta http-equiv="max-age" content="1">
    <script src='static/Chart.js'></script>
</head>



<body>
    <div>
        <!-- bar chart canvas element -->
        <canvas id="targetVoltage" width="800" height="400"></canvas>
    </div>
    {% for range in data %}
    <hr>
    <div>
        <div>Target Voltage Low: {{range['PSL']}}   Target Voltage High: {{range['PSH']}}   Measured Voltage Low: {{range['NGL']}}   Measured Voltage High: {{range['NGH']}}    Slope: {{range['SLP']}}  YIntercept: {{range['INT']}}</div>
    </div>
    {% if not loop.last %}
    <hr>
    {% endif %}
    {% endfor %}
    <script>
    var ctx = document.getElementById('targetVoltage');
    var myLineChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [{% for label in labels %}{{ label }}, {% endfor %}],
            datasets: [{
                fill: false,
                label: "Netguardian Voltage",
                borderColor: "rgba(255,50,50,1)",
                pointBorderColor: "rgba(255,50,50,1)",
                bezierCurve: true,
                data: [{% for item in values %}{{ item }},{% endfor %}]
            },
            {
                fill: false,
                label: "Powersupply Voltage",
                borderColor: "rgba(100,100,255,1)",
                pointBorderColor: "rgba(100,100,255,1)",
                bezierCurve: true,
                data: [{% for item in values2 %} {{ item }}, {% endfor %}]
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Voltage'
                    }
                }],
                xAxes: [{
                    scaleLabel: {
                        display: true,
                        labelString: 'Time (Seconds)'
                    }
                }]
            }
        }

    });
    </script>
</body>



