{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Setup{% endblock %}</h1>
{% endblock %}

{% block content %}
<header>
    <div>
        <form method="post">
            <div>
                <label for="ng_ip">NetGuardian IP: </label><input name="ng_ip" value="126.10.218.10" id="ng_ip" required>
                <label for="ng_port">NetGuardian Port: </label><input name="ng_port" value=2003 id="ng_port" required>
                <label for="ng_address">NetGuardian Address: </label><input name="ng_address" value=1 id="ng_address" required>
                <label for="ng_channels">Number of analogs: </label><input name="channels" value=4 id="ng_channels" required>
            </div>
            <hr />
            <div>
                <label for="psu_ip">PSU IP: </label><input name="psu_ip" value="126.10.218.101" id="psu_ip" required>
                <label for="psu_port">PSU Port: </label><input name="psu_port" value=1056 id="psu_port" required>
                <label for="psu_address">PSU Address: </label><input name="psu_address" value='A' id="psu_address" required>

            </div>
            <hr />            <hr />
            <div>
                <label for="range_1">Range 1: </label>
                <input name="range_1_low" value=0.0 id="range_1" required><input name="range_1_high" value=5.5 id="range_1" required>
            </div>
            <hr />
            <div>
                <label for="range_2">Range 2: </label>
                <input name="range_2_low" value=5.5 id="range_2" required><input name="range_2_high" value=14.0 id="range_2" required>
            </div>
            <hr />
            <div>
                <label for="range_3">Range 3: </label>
                <input name="range_3_low" value=14.0 id="range_3" required><input name="range_3_high" value=30.0 id="range_3" required>
            </div>
            <hr />
            <div>
                <label for="range_4">Range 4: </label>
                <input name="range_4_low" value=30.0 id="range_4" required><input name="range_4_high" value=70.0 id="range_4" required>
            </div>
            <hr />
            <hr />
            <div>
                <label for="range_5">Range 5: </label>
                <input name="range_5_low" value=70.0 id="range_5" required><input name="range_5_high" value=90.0 id="range_5" required>
            </div>
            <hr />
            <input type="submit" value="Save">
        </form>
    </div>

</header>
{% endblock %}