<meta http-equiv="refresh" content="10">
{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Monitor{% endblock %}</h1>
{% endblock %}

{% block content %}
        <div>
            {% for rtu in rtus %}
            <header>
                <div>
                    <div>{{rtu['name']}}    {{rtu['polling']}}     <a href="{{ url_for('rtu.configure', rtu_id = rtu['id']) }}">Configure</a></div>
                    <div>Temp {{rtu['temperature']}}F           Humidity {{rtu['humidity']}}%  Alarm State {{rtu['display1']}}</div>
                </div>
            </header>
            {% if not loop.last %}
            <hr>
            {% endif %}
            {% endfor %}
        </div>
{% endblock %}
                                                                                                                                                             +
