{% block header %}
<h1>{% block title %}Testing Results{% endblock %}</h1>
{% endblock %}

{% block content %}
<header>
    <div>
        {% for range in data %}
        <hr>
        <div>
            <div>Actual Voltage: {{range['actual']}}   Measured Voltage: {{range['netguardian']}}   Error: {{range['error']}}%</div>
        </div>
        {% if not loop.last %}
        <hr>
        {% endif %}
        {% endfor %}
    </div>
</header>
{% endblock %}