<!doctype html>
{% block header %}
<h1>{% block title %}Calibration Success!{% endblock %}</h1>
{% endblock %}
<header>
    <div>
        {% for range in data %}
        <hr>
        <div>
            <div>Target Voltage Low: {{range['PSL']}}   Target Voltage High: {{range['PSH']}}   Measured Voltage Low: {{range['NGL']}}   Measured Voltage High: {{range['NGH']}}    Slope: {{range['SLP']}}  YIntercept: {{range['INT']}}</div>
        </div>
        {% if not loop.last %}
        <hr>
        {% endif %}
        {% endfor %}
    </div>
</header>
