{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Test{% endblock %}</h1>
{% endblock %}

{% block content %}
<header>
    <div>
        <form method="post">
            <div>
                <label for="test_value">Target Voltage</label>
                <input name="target_voltage" value=10.0 id="test_value" required>
            </div>
            <hr />
            <div>
                Actual Output Voltage: {{voltage['actual']}}
            </div>
            <hr />
            <div>
                NetGuardian Voltage: {{voltage['netguardian']}}
            </div>
            <hr />
            <div>
                Error: {{voltage['error']}}%
            </div>
            <hr />
            <input type="submit" value="Test"><button type="submit" formaction="{{url_for('rtu.disable')}}">Disable Calibration</button><button type="submit" formaction="{{url_for('rtu.enable')}}">Enable Calibration</button><button type="submit" formaction="{{url_for('rtu.autotest')}}">Auto Test</button>
        </form>
    </div>

</header>
{% endblock %}
                                                                                                                                                             +
