{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Add Device{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="device_id">Name</label>
        <input id="device_id" name="rtu_name" required>
        <label for="device_address">Unit ID</label>
        <input id="device_address" name="rtu_address" required>
        <label for="device_ip">IP Address</label>
        <input id="device_ip" name="rtu_ip" required>
        <label for="device_port">Port</label>
        <input id="device_port" name="rtu_port" required>
        <input type="submit" value="Create Device">
    </form>
{% endblock %}
