{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Edit Device{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="device_name">Name</label>
        <input name="rtu_name" value ={{rtu['name']}} id="device_name"  required>
        <label for="device_address">Unit ID</label>
        <input name="rtu_address" value ={{rtu['address']}} id="device_address" required>
        <label for="device_ip">IP Address</label>
        <input name="rtu_ip" value ={{rtu['ip']}} id="device_ip" required>
        <label for="device_port">Port</label>
        <input name="rtu_port" value ={{rtu['port']}} id="device_port" required>
        
        <input type="submit" value="Save">
    </form>
{% endblock %}
