<!doctype html>
<title>{% block title %}{% endblock %} - RTU Calibrator</title>
<nav>
    <h1>RTU Calibrator</h1>
    <form>
        <button type="submit" formaction="{{ url_for('rtu.configure') }}">Configure</button><button type="submit" formaction="{{ url_for('rtu.calibratepsu') }}">Calibrate Powersupply</button><button type="submit" formaction="{{ url_for('rtu.calibrate') }}">Calibrate Netguardian</button><button type="submit" formaction="{{ url_for('rtu.test') }}">Test</button>
    </form>

</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
